{% extends 'base.html' %}
{% block content %}

<h2>Add Donor</h2>
<hr>

<form method="POST" class="w-50">

    <div class="mb-3">
        <label>Name</label>
        <input type="text" name="name" class="form-control" required>
    </div>

    <div class="mb-3">
        <label>Age</label>
        <input type="number" name="age" class="form-control" required>
    </div>

    <div class="mb-3">
        <label>Gender</label>
        <select name="gender" class="form-select">
            <option>Male</option>
            <option>Female</option>
        </select>
    </div>

    <div class="mb-3">
        <label>Blood Group</label>
        <select name="blood_group" class="form-select" required>
            <option>A+</option>
            <option>A-</option>
            <option>B+</option>
            <option>B-</option>
            <option>AB+</option>
            <option>AB-</option>
            <option>O+</option>
            <option>O-</option>
        </select>
    </div>

    <div class="mb-3">
        <label>Phone</label>
        <input type="text" name="phone" class="form-control" required>
    </div>

    <button type="submit" class="btn btn-success">Save</button>

</form>

{% endblock %}